#page {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#planner {
    height: 100%;
    width: 100%;
}

.dropdown-item.hide_search {
    display: none;
}

#tabs .dropdown_wrap .dropdown_button {
    min-height: 40px;
}

#tabs .dropdown {
    position: fixed;
    top: 150px;
    min-width: 100%;
    left: 0;
    right: 0;
    bottom: 49px;
    border-radius: 0;
    box-shadow: unset;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow: auto;
}

@media only screen and (min-width: 550px) {

    #tabs .dropdown {
        bottom: unset;
        left: unset;
        right: unset;

        top: 50px;
        min-width: 200px;

        box-shadow: -1px 2px 30px 0px var(--color-bg-darkest);
        border-radius: 5px;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    #tabs .dropdown_wrap.open .dropdown {
        max-height: calc(100dvh - 50px - 100px);
    }

}

@media only screen and (min-width: 700px) {
    #tabs .dropdown_wrap .dropdown_button {
        min-height: 34px;
    }
}

.tab:not(.delete) .icon {
    color: var(--color-txt);
    fill: var(--color-txt);
    stroke: var(--color-txt);
}

#search_items_wrapper .dropdown {
    max-width: 100%;
    width: 100%;
}

.dropdown-section {
    width: 100%
}

.dropdown-section .dropdown-item {}

.dropdown-section .divider {
    border-bottom: 1px solid var(--color-txt);
    margin: 5px auto;
    width: 80%;
    pointer-events: none;
}

.dropdown-section .divider:last-child,
.dropdown-section .divider+.divider {
    display: none;
}

.dropdown-section .dropdown-section-item {
    background-image: url(../images/dropdown_grey.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 8px 8px;
    white-space: nowrap;
    padding-right: 30px;
}

.dropdown-section.open>.dropdown-section-item,
.dropdown-section .dropdown-section-item:hover {
    background-color: var(--color-btn);
    color: var(--color-bg);
    background-image: url(../images/dropdown_white_transparent.svg);
}

#page.mode_dark .dropdown-section .dropdown-section-item,
#page.mode_dark .dropdown-section.open>.dropdown-section-item {
    color: var(--color-txt);
    background-image: url(../images/dropdown_white_transparent.svg);
}

#page.mode_byset [data-tab-dropdown="furniture_categories"],
#page:not(.mode_byset) [data-tab-dropdown="furniture_sets"] {
    display: none;
}

.dropdown-section-items {
    display: flex;
    max-height: 0;
    flex-direction: column;

    transition: max-height 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
    flex-wrap: nowrap;
    align-items: flex-start;

    min-width: 100%;
}

.dropdown-section.open>.dropdown-section-items {
    max-height: 10000px;
}

.dropdown_wrap .dropdown.searching {
    max-height: calc(100dvh - 50px - 100px);
    opacity: 1;
    padding: 5px 0;
    overflow: auto;
}

.dropdown_wrap .dropdown.searching .divider {
    display: none;
}

.dropdown.searching .dropdown-section-items {
    max-height: 10000px;
}


.dropdown-section .dropdown-section-items .dropdown-item {
    padding-left: 15px;
}

.dropdown-section .dropdown-section .dropdown-section-items .dropdown-item {
    padding-left: 30px;
}

#app {
    height: 100%;
    width: 100%;
}

#game-container {
    height: 100%;
    width: 100%;

    /* --var-multiplier: 9;
    max-width: calc(138px * var(--var-multiplier));
    max-height: calc(103px * var(--var-multiplier)); */
}

#page.dragging_mode #game-container {

    cursor: move;
}

canvas {
    border: 1px solid white;
}

.button_item.disabled {
    opacity: 0.4;
    cursor: auto;
    background-color: var(--color-bg-darker);
}

.button_item.disabled:hover {
    background-color: var(--color-bg-darker);
}


#zoom {
    display: flex;
    flex-direction: column;
    gap: 5px;

    --slider-height: 15px;
    --slider-radius: calc(var(--slider-height) / 5);
}

#minimap_wrapper {
    position: relative;
}

#minimap {
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    cursor: pointer;
}

#zoom_selection {
    position: absolute;
    border: 2px solid rgba(255, 174, 0, 0.8);
    background: rgba(255, 174, 0, 0.3);
    cursor: move;
}

#controls {
    display: flex;
    gap: 2px;
    align-items: center;
}

/* https://blog.logrocket.com/creating-custom-css-range-slider-javascript-upgrades/ */
#zoomSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    margin: 0;
    background: var(--color-bg-darker);
    border: 1px solid var(--color-btn);

    border-radius: var(--slider-radius);
}

/* Track: webkit browsers */
#zoomSlider::-webkit-slider-runnable-track {
    height: var(--slider-height);
    background: var(--color-bg-darker);
    border-radius: calc(var(--slider-radius) - 1);
}

/* Track: Mozilla Firefox */
#zoomSlider::-moz-range-track {
    height: var(--slider-height);
    background: var(--color-bg-darker);
    border-radius: calc(var(--slider-radius) - 1);
}

/* Thumb: webkit */
#zoomSlider::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: var(--slider-height);
    width: var(--slider-height);
    background-color: #fff;
    border-radius: var(--slider-radius);
    border: 2px solid var(--color-btn);
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px var(--color-btn);
}

/* Thumb: Firefox */
#zoomSlider::-moz-range-thumb {
    height: var(--slider-height);
    width: var(--slider-height);
    background-color: #fff;
    border-radius: var(--slider-radius);
    border: 1px solid var(--color-btn);
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px var(--color-btn);
}

#zoom_precent {
    font-size: 11px;
    line-height: 12px;
    min-width: 27px;
    text-align: right;
}

.zoom_reset {
    color: var(--color-txt);
    fill: var(--color-txt);
    /* stroke: var(--color-txt); */
    cursor: pointer;
    transition: opacity 0.2s ease;
    opacity: 0.7;
}

.zoom_reset:hover {
    opacity: 1;
}

.zoom_reset .icon {
    width: 18px;
    min-width: 18px;
}

.zoom_reset .icon svg {
    height: var(--slider-height);
    width: 18px;
}

.icon img {
    image-rendering: pixelated;
}

.highlight {
    background-color: #8338ec;
    color: white;
}